{% load static %}


<div class="list-group">
    <a class="list-group-item list-group-item-action" href="">
        V-log
    </a>
    <a class="list-group-item list-group-item-action" href="">
        Kamp
    </a>
    <a class="list-group-item list-group-item-action" href="">
        Gezi
    </a>
    </a>
    <a class="list-group-item list-group-item-action" href="">
        Kahve
    </a>
    </a>
    <a class="list-group-item list-group-item-action" href="">
        Antalya
    </a>
</div>